<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Sàn giao dịch việc làm</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @* <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" asp-controller="Account" asp-action="EmployerRegister">For Employers</a>
        </li> *@
        @if (!string.IsNullOrEmpty(Context.Session.GetString("Email"))) 
        {
            <li class="nav-item dropdown d-flex align-items-center">
                <a class="nav-link text-white position-relative d-flex align-items-center " asp-action="Notification" asp-controller="Account" >
                    <i class="bi bi-bell fs-5"></i>
                    <span class="ms-3">Thông báo</span>
                    <span class="position-absolute translate-middle badge rounded-pill bg-danger" 
                          style="top: 12px; right: 75px; transform: translate(50%, -50%);">
                        3
                    </span>
                </a>
                <a class="nav-link dropdown-toggle text-white ms-3" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @Context.Session.GetString("HoTen")
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Đăng xuất</a></li>
                    <li><a class="dropdown-item" asp-controller="Candidate" asp-action="CandidateProfile">Hồ sơ</a></li>
                </ul>
            </li>


        }
        else 
        {
            <li class="nav-item">
                <a class="nav-link active text-white" asp-controller="Account" asp-action="Login">Đăng nhập</a>
            </li>
        }
      </ul>
    </div>
  </div>
</nav>
